@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    width: 100%;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
    color: #222;
    line-height: 6.4rem;
}

h2 {
    font-size: 4.6rem;
    color: #222;
    line-height: 6.4rem;
}

h4 {
    font-size: 2rem;
    color: #222;
}

h6 {
}

.desc {
    font-size: 1.6rem;
    color: #465b52;
}

.section-p1 {
    padding: 4rem 8rem;
}

.section-m1 {
    padding: 4rem 0;
}

.btn {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.5rem 3rem;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/* mobile */

/* ======== header ========== */
.header {
    padding: 2rem 8rem;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.header-logo{
  object-fit: cover;
}

.header-logo:hover{
  cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-body__ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
}

.header-body__li {
    position: relative;
}

.header-li-a--active::after,
.header-li-a:hover::after {
    content: "";
    width: 25%;
    height: 0.2rem;
    border-radius: 20px;
    background-color: #088178;
    position: absolute;
    bottom: -0.4rem;
    left: 1.8rem;
}

#mobile {
    display: flex;
    align-items: center;
}

#mobile:hover{
  cursor: pointer;
}

#mobile i {
    color: #1a1a1a;
    font-size: 2.4rem;
    padding-left: 2rem;
    display: none;
}

#colse {
    text-align: center;
    display: none;
}

.fa-xmark {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0.1rem;
    border: 1px solid #666;
    position: absolute;
    color: #333;
    top: 0;
    right: 0;
    margin: 2rem;
}

.fa-xmark:hover {
    color: #999;
}

.header-li-a {
    padding: 0.8rem 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}

.header-li-a--active,
.header-li-a:hover {
    color: #088178;
}

/* ======== hero ========= */
.hero {
}

.hero-body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 8rem;
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/hero4.png?raw=true);
    background-position: top 25% right 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.hero-desc {
    font-size: 2rem;
    font-weight: 500;
}

.hero-h2 {
    font-size: 4rem;
    font-weight: 600;
}

.hero-h1 {
    font-size: 4.2rem;
    font-weight: 600;
    color: #088178;
}

.hero-button {
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/button.png?raw=true);
    background-repeat: no-repeat;
    padding: 1.4rem 8rem 1.4rem 6.5rem;
    color: #088178;
    font-size: 1.6rem;
}

/* =========== feature ========== */
.fe-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    justify-content: space-between;
    column-gap: 1.5rem;
}

.fe-box {
    width: 100%;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    padding: 2.5rem 1.5rem;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 1.5rem 0;
}

.fe-img {
    width: 100%;
    object-fit: cover;
}

.fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.fe-desc {
    display: inline-block;
    padding: 0.9rem 0.8rem 0.6rem 0.8rem;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

.fe-box:nth-child(2) .fe-desc {
    background-color: #cdebbc;
}

.fe-box:nth-child(3) .fe-desc {
    background-color: #d1e8f2;
}

.fe-box:nth-child(4) .fe-desc {
    background-color: #cdd4f8;
}

.fe-box:nth-child(5) .fe-desc {
    background-color: #f6dbf6;
}

.fe-box:nth-child(6) .fe-desc {
    background-color: #fff2e5;
}

/* ===== products1 ===== */
.product1 {
    text-align: center;
}

.pro-container {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
}

.pro-container__pro {
    width: 20%;
    min-width: 250px;
    padding: 1rem 1.2rem;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 0 1.5rem;
    transition: 0.2s ease;
    margin-bottom: 1.5rem;
}

.pro-container__pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro-desc {
    color: #606063;
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
}

.pro-img {
    width: 100%;
    border-radius: 20px;
}

.pro-box {
    text-align: start;
    padding: 10px 0;
}

.pro-box-p {
    font-size: 1.2rem;
    color: #606063;
}

.pro-box-h5 {
    padding-top: 0.7rem;
    color: #1a1a1a;
    font-size: 1.4rem;
}

.pro-left__star .fa-star {
    font-size: 1.2rem;
    color: rgba(243, 181, 25, 1);
}

.pro-left__p {
    padding-top: 0.7rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #088178;
}

.pro-box-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pro-link .fa-solid {
    width: 4rem;
    height: 4rem;
    line-height: 4;
    border-radius: 50%;
    background-color: #e8f6ea;
    font-size: 1.8rem;
    color: #088178;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========== banner =========== */
.banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b2.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-position: center;
}

.banner-h4 {
    color: #fff;
    font-size: 1.6rem;
}

.banner-h2 {
    color: #fff;
    font-size: 3rem;
    padding: 1rem 0;
}

.banner-h2 span {
    color: #ef3636;
}

.banner-btn:hover {
    background: #088178;
    color: #fff;
}

/* ============== sm-banner ============== */
.sm-banner-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.sm-banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 58rem;
    height: 50vh;
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b17.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    flex: 1;
}

.sm-banner-box:nth-child(2) {
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b10.jpg?raw=true);
}

.smbanner-box__btn:hover {
    background: #088178;
    color: #fff;
}

.sm-banner-box__h4 {
    color: #fff;
}

.sm-banner-box__h2 {
    color: #fff;
    font-size: 4.5rem;
    font-weight: 700;
}

.sm-banner-box__p {
    color: #fff;
    padding-bottom: 1.5rem;
}

.smbanner-box__btn {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.smbanner-box__btn:hover {
    border: 1px solid #088178;
}

/* ======== banner3 ======== */
.banner3-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 6rem;
    gap: 1.5rem;
}

.banner3-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-size: cover;
    min-width: 30%;
    height: 30vh;
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b7.jpg?raw=true);
    background-position: center;
    padding: 3rem;
    flex: 1;
}

.banner3-h2 {
    color: #fff;
    font-weight: 900;
    font-size: 2.2rem;
}

.banner3-h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #ec544e;
}

.banner3-box:nth-child(2) {
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b4.jpg?raw=true);
}

.banner3-box:nth-child(3) {
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b18.jpg?raw=true);
}

/* ============= newletter ============= */
.newletter {
    margin-top: 4rem;
    align-items: center;
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b14.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
.new-body {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.new-h4 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}

.new-p {
    margin-top: 1.5rem;
    color: #818ea0;
    font-weight: 600;
    font-size: 1.4rem;
}

.new-p span {
    color: #ffdb27;
}

.form {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-button {
    color: #fff;
    background: #088178;
    white-space: nowrap;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.new-form-input {
    height: 4.6rem;
    padding: 0 1.25em;
    outline: none;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid transparent;
    line-height: 3.125rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* ========== footer ========== */
.footer-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-li-0 {
    color: #041e42;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.footer-ul:first-child .footer-li-0 {
    margin-top: 1.6rem;
}

.footer-li {
    color: #959aa1;
    font-weight: 400;
}

.footer-li + .footer-li {
    margin-top: 0.7rem;
}

.footer-li span {
    color: #063270;
    font-weight: 500;
}

.footer-box1-icon .fa-brands {
    margin-right: 0.3rem;
}

.footer-box1-icon .fa-brands:hover {
    color: #088178;
    cursor: pointer;
}

.footer-pay {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.2rem;
}

.footer-pay__img {
    border: 1px solid #088178;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.footer-visa:hover,
.footer-pay:hover,
.footer-pay__img:hover {
    cursor: pointer;
    opacity: 0.9;
}

.footer-ul:last-child .footer-li {
    margin-bottom: 1.5rem;
}

/* =================================================================================================================================== */

/* ========== shop.html ========= */
.shop-hero-body {
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b1.jpg?raw=true);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shop-hero-h2,
.shop-hero-p {
    color: #fff;
    width: 85%;
}

/* ============== pagination =============== */
.pagination-body {
    text-align: center;
}

.pagi-link {
    font-weight: 600;
    text-align: center;
    padding: 1.6rem 2rem 1.3rem;
    background-color: #088178;
    color: #fff;
    border-radius: 4px;
}

.pagi-link .fa-solid {
    font-size: 1.6rem;
    font-weight: 600;
}

/* =================================================================================================================================== */

/* =============== sproduct.html ================ */
.prodetails-body {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.prodetails-single-image {
    width: 40%;
    margin-right: 5rem;
}

.prodetails-img-group {
    display: flex;
    justify-content: space-between;
}

.prodetails-group-small {
    flex-basis: 24%;
    cursor: pointer;
}

.prodetails-details {
    width: 50%;
    padding-top: 3rem;
}

.prodetails-details-h4 {
    padding: 4rem 0 2rem 0;
    font-size: 2.6rem;
}

#prodetails-form-select {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: #8c8f8f;
}

.prodetails-input {
    width: 5rem;
    height: 4.7rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    margin-right: 1rem;
}

.prodetails-input:focus {
    outline: none;
}

.prodetails-form__btn {
    color: #fff;
    background: #088178;
}

.prodetails-form__btn:hover {
    opacity: 0.9;
}

.prodetails-details-p {
    line-height: 2.5rem;
    color: #767679;
}

/* =================================================================================================================================== */

/* =============== blog.html ================ */
.blog-hero-body {
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b19.jpg?raw=true);
    width: 100%;
    height: 30rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ==================  blog ==================== */
.blog {
    padding: 15rem 15rem 0 15rem;
}

.blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 9rem;
}

.blog-img {
    width: 50%;
    margin-right: 4rem;
}

.blog-img__name {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    border-radius: 3px;
}

.blog-right {
    width: 48%;
}

.blog-right-p {
  width: 100%;
  font-weight: 500;
    color: rgb(136, 134, 134);
    margin: 1.5rem 0 1.5rem;
}

.blog-right-a {
    font-size: 1.1rem;
    font-weight: 700;
    color: #000;
    position: relative;
    transition: 0.3s;
}

.blog-right-a:hover {
    color: #088178;
}

.blog-right-a::after {
    content: "";
    width: 5rem;
    height: 0.1rem;
    background: #000;
    position: absolute;
    right: -5.5rem;
    bottom: 50%;
    transform: translateY(-50%);
}

.blog-right-a:hover::after {
    background-color: #088178;
}

.blog-box-h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 7rem;
    font-weight: 600;
    color: #c9cbce;
    z-index: -9;
}

.blog-right-h4 {
    font-size: 4rem;
    font-weight: 700;
}

/* =================================================================================================================================== */

/* =============== about.html ================ */
.about-hero-body{
  background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/about/banner.png?raw=true);
    width: 100%;
    height: 30rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* =============== about-head ================ */
.about-body{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.about-img{
  width: 50%;
  height: auto;
}

.about-h2
{
  font-size: 4.5rem;
  font-weight: 700;
}

.about-p{
  margin-top: 1rem;
  color: #606063;
}

.about-bot abbr{
  display: block;
  margin-top: 2.5rem;
  color: #088178;
}

.about-bot marquee{
  color: #ec544e;
  font-size: 1.8rem;
  padding: 1.5rem;
  border-radius: 5px;
}
/* =============== about-app ================== */
.about-app{
  text-align: center;
}

.about-video{
  width: 70%;
  height: 100%;
  margin: 3rem auto 0;
}

.about-video video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.about-download{
  color: #088178;
  font-weight: 600;
}

/* =================================================================================================================================== */

/* =============== contact.html ================ */
.contact-hero-body{
  background-image: url(https://plus.unsplash.com/premium_photo-1682309572625-791e25352998?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1212&q=80);
    width: 100%;
    height: 30rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* =============== contact =============== */
.contact-body{
display: flex;
align-items: center;
gap: 2.5rem;
justify-content: space-between;
}

.contact-right{
  width: 50%;
}

.contact-p1{
  color: #666;
}

.contact-h2{
  margin-top: 1.2rem;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: #041e42;
}

.contact-h4{
  margin: 1.4rem 0 1.4rem;
  font-weight: 600;
  color: #041e42;
}

.contact-item{
  margin-top: 1.6rem;
}

.contact-item i{
  color: #041e42;
  font-size: 1.8rem;
  margin-right: 1.5rem;
}

.contact-item-p{
  color: rgb(139, 137, 137);
  line-height: 1.3;
  font-size: 1.6rem;
}

.contact-map{
  width: 50%;
}

.contact-map iframe{
  height: 45rem;
}

/* ======== deat-form ========= */
.deat{
  margin: 3rem;
  padding: 8rem;
  border: 1px solid #e1e1e1
}

.form-deatails{
  width: 80%;
}

.deat-form-p{
  color: #94979c;
  font-size: 1.6rem;
}

.deat-form-h2{
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.2;
}

.deat-input{
  margin-top: 1.5rem;
  padding: 1.5rem;
  width: 80%;
}

.deat-input::placeholder{
  color: #818ea0;
  font-family: "League Spartan", sans-serif;
}

.deat-form-btn{
  margin-top: 1.5rem;
  background: #088178;
  color: #fff;
  border: 1px solid #e1e1e1;
}

.pingjia-group{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem;
}

.deat-body{
  display: flex;
  justify-content: space-between;
}

.pingjia-avatar{
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.pingjia-text{
  color: #767679;
  margin-top: 0.8rem;
}

.pingjia-name{
  font-size: 1.8rem;
  font-weight: 500;
}

/* =================================================================================================================================== */

/* =============== cart.html ================ */
.cart{
  width: 100%;
  border-collapse: collapse;
  table-layout:fixed ;
  white-space: nowrap;
}

.cart-table{
    width: 100%;
}

.table-tr-img{
  width: 7rem;
  object-fit: cover;
}

.cart-table th:nth-child(1),
.cart-table td:nth-child(1) {
  width: 10rem;
  text-align: center;
}

.cart-table th:nth-child(2),
.cart-table td:nth-child(2) {
  width: 15rem;
  text-align: center;
}

.cart-table th:nth-child(3),
.cart-table td:nth-child(3) {
  width: 25rem;
  text-align: center;
}

.cart-table th:nth-child(4),
.cart-table td:nth-child(4) {
  width: 15rem;
  text-align: center;
}

.cart-table th:nth-child(5),
.cart-table td:nth-child(5) {
  width: 15rem;
  text-align: center;
}

.cart-table th:nth-child(6),
.cart-table td:nth-child(6) {
  width: 15rem;
  text-align: center;
}

.cart-table-input{
  width: 7rem;
  padding: 1rem 0.5rem 1rem 1.5rem;
}

.cart-table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

.cart-table thead th{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1.8rem 0;
}

.cart-table thead tr{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-table tbody tr{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-table tbody td{
  padding-top: 1.5rem;
  font-size: 1.3rem;
  color: #606063;
} 

/* ============= bill ============= */
.bill-btn{
    margin-left: 1.5rem;
    background: #088178;
    color: #fff;
}